.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.img{
    float: left;
    }
.grp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height:50px;
    font-size:medium;
}

.form-group{
    width:400px;
    background-color: white;
}

.break{
    margin: 10px auto;
    width: 400px;
  }
  
  .txt {
    text-align: center;
    font-size: 15px;
    background-image:linear-gradient(rgb(148,143,143),rgb(148, 143, 143)),linear-gradient(rgb(148, 143, 143),rgb(148, 143, 143));
    background-size:40% 1px;
    background-position:center left,center right;
    background-repeat:no-repeat;
  }
